
<header class='page-section site-header'>
<div class='inner-column'>
  
  <h1 class='site-title'>
    Hello! This is a place!
  </h1>

</div>
</header>



<main class='page-content'>

  <section class='page-section welcome'>
  <div class='inner-column'>
    
    <h2>Welcome!</h2>

  </div>
  </section>

</main>



<footer class='page-section site-footer'>
<div class='inner-column'>

  <h3>Footer</h3>

</div>
</footer>
